.main-btn {
  width: 129px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #aa70ff;
  color: #fefefe;
  text-align: center;
  font-family: 'BIZ UDPGothic';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.171px;
  text-transform: capitalize;
}
