/* Buttons */

.FilledBtn{
    background-color: var(--primaryColor);
    padding: 8px 32px 8px 32px;
    color: var(--light);
    border-radius: 32px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: var(--primaryHover);
    }
}

.OutlineBtn{
    padding: 8px 32px 8px 32px;
    color: var(--primaryColor);
    border-radius: 32px;
    border: 1px solid var(--primaryColor);

    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: var(--primaryColor);
        color: var(--light);
    }
}

@media screen and (min-width:768px) and (max-width :992px){
    
}