@media screen and (max-width: 768px) {
  .homepage-wrapper {
    .second-body {
      padding: 0;
      width: 100vw;
      .steps-cards {
        .purple-right-arrow {
          transform: rotate(90deg);
        }
      }
      .poker-back-steps {
        .poker-text {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
        }
        .purple-line {
          display: none;
        }
      }
      .poker-information {
        padding: 50px 50px;
      }
      .poker-life-cylce-image {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .steps-cards {
        flex-direction: column;
        .step-card-wrapper {
          width: 80%;
        }
      }
    }

    .mobile-form {
      display: block;
    }

    .body-2 {
      .cards {
        padding: 0;
        flex-direction: column;
        .new-card-wrapper,
        .article-card-wrapper {
          margin-top: 20px;
          width: 100%;
        }

        .article-card-wrapper {
          .article-card-wrapper {
            .gray-line {
              width: 50%;
            }
          }
        }

        .new-card-wrapper {
          .card-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .grey-line {
            width: 35%;
          }
        }
      }
    }
    .form {
      height: 1000px;
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.banner-2 {
  background-image: url("../../assests/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 190px;
}

.banner-section {
  background-image: url("../../assests/banner.png");
  height: 513px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media screen and (max-width: 768px) {
    margin-top: -50px  !important ;
    .banner-data {
    opacity: 0;
    }
    background-image: url("../../assests/banner-mobile.jpg");
    // height: inherit;
  }
}
